.name{
    font-size: 80px;
}
.bck{
    background-color: white;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 70px 100px 0;
    display: flex;
    padding: 100px;
}
.img-project{
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
a.project-button:hover {
    color: white;
  }
  a.project-button {
    color: white;
    font-size: 12px;
    position: relative;
    font-weight: 600;
    letter-spacing: 5px;
  }
  a.project-button:hover:before {
    width: calc(100% + 30px);
    height: 52px;
    border-radius: 50px;
    top: -18px;
  }
  a.project-button:before {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid white;
    background: 0 0;
    border-radius: 90%;
    top: -8px;
    position: absolute;
    transition: .3s;
  }
  a.project-button span {
    transition: .3s;
    display: inline-block;
    margin-left: 50px;
  }