.name{
    font-size: 80px;
}
.bck{
    background-color: white;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 70px 100px 0;
    display: flex;
    padding: 100px;
}
.img-project{
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}