.slow-scroll{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    position: relative;
    z-index: 0;
    transition: color .3s;
    box-shadow: none;
    
}
a.slow-scroll:after{
    content: '';
    display: block;
    width: 102%;
    height: 6px;
    background-color: #96dfff;
    position: absolute;
    transition: bottom .3s;
    left: -1%;
    bottom: 1px;
    z-index: -1;
}
a.slow-scroll:hover:after{
    bottom: -5px;
}